.preload * {
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
input,
button,
textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
