@charset "utf-8";
/*-------------------------------------------------
 Imports
-------------------------------------------------*/

@import "normalize";
@import "mixins";
@import "variables";
@import "font-declarations";
@import "font-awesome";

/*-------------------------------------------------
 Base styles
-------------------------------------------------*/

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body,
input {
  color: #666;
  font-family: $opensans-regular;
  line-height: 1.6;
}

html,
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #f7f7f7;
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

a {
  @include transition(color .1s linear);
  color: $color-highlight;
  text-decoration: none;
  &:hover {
    color: lighten($color-highlight, 10%);
  }
}

strong {
  font-family: $opensans-bold;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*-------------------------------------------------
 Layout styles
-------------------------------------------------*/


/*-------------------------------------------------
 Component styles
-------------------------------------------------*/

.wrapper {
  @extend %clearfix;
  margin: 0px auto;
  width: 960px;
}

/*-------------------------------------------------
 Template styles
-------------------------------------------------*/

%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

%clearfix {
    *zoom: 1;
}
