$spacing: 30px;

$color-light-grey: #eee;
$color-medium-grey: #ddd;
$color-dark-grey: #444;

$color-highlight: #666;

$opensans-regular: opensans-regular, helvetica, arial, sans-serif;
$opensans-bold: opensans-bold, helvetica, arial, sans-serif;
$bebasneue: bebasneue, helvetica, arial, sans-serif;

