// ==========================================================================
//  Block
// ==========================================================================

.baseline-grid {
  height: 2000px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

// ==========================================================================
//  Block elements
// ==========================================================================

.baseline-grid__lines {
  background-image: linear-gradient(to bottom, $c-baseline-grid, $c-baseline-grid 50%, $c-baseline-grid-alt 50%, $c-baseline-grid-alt);
  background-size: 100% .5rem;
  height: 100%;
  margin: 0;
  width: 100%;
}

.baseline-grid__toggle {
  background-color: rgba($c-baseline-grid, .3);
  height: 30px;
  opacity: 0;
  pointer-events: initial;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .15s linear;
  width: 30px;

  &:hover {
    opacity: 1;
  }
}



