// ==========================================================================
//  Font variables
// ==========================================================================

$f-sans-font:                 sans-font, helvetica, arial, sans-serif;


// ==========================================================================
//  Layout variables
// ==========================================================================

$l-app-width: 900px;


// ==========================================================================
//  Knife config
// ==========================================================================

$body-font-size:            16px;
$body-line-height:          1.5;
$scale-factor:              $perfect-fourth;
$ie8compatability:          false;


